ovf/
vmx/
packer_cache/

output-*
*.iso
*.box
*.raw
*.img
*.qcow2
*.tar.gz
*.tgz

.vagrant
Vagrantfile

# Only check in .example
# versions of these files
Autounattend.xml
vmware-tools.ps1
amz-vars.json
